@import url('https://fonts.googleapis.com/css?family=Yatra+One');
@import url('https://fonts.googleapis.com/css?family=Zeyada');
@import url('https://fonts.googleapis.com/css?family=Quicksand');


/*#climatelogo {*/
  /*font-family: 'Yatra One', cursive;*/
  /*color: white;*/
  /*font-size: 900%;*/
  /*!*margin-top: 80px;*!*/
  /*padding-bottom: 4vw;*/
  /*!*margin-right: 42vw;*!*/
/*}*/

#climate-content {
  max-width: 100%;
  float: left;
}


.tausta-1 {
  /*background: url("../../resources/static/image/earth.jpg");*/

  /*background-size: cover;*/
  background-attachment: fixed;
  /*background-position: center;*/
  border-collapse: collapse;

  max-width: 100%;
  font-size: 100%;
  text-align: center;
  max-height: 100%;


}


.tausta-2 {
  background-size: cover;
  background-attachment: fixed;
  /*background-position: center;*/
  border-collapse: collapse;
  margin-bottom: 50px;
  max-width: 100%;

}

.tausta-3 {
  background: url("../../resources/static/image/kasvi.jpg");
  background-size: cover;
  background-attachment: fixed;
  /*background-position: center;*/
  border-collapse: collapse;
  margin-top: 0;
  max-width: 100%;

}

.button-header {
  background-color: forestgreen;
  color: white;
  border: 1px solid forestgreen;
  border-radius: 30px;
  padding: 10px;

}

.button-header:hover {
  background-color: darkgreen;
}

.button-header:link, .button-header:visited {
  color: white;
  text-decoration: none;
  cursor: auto;
}

.button-header:link:active, .button-header:visited:active {
  color: white;
  text-decoration: none;
}

.header-header {
  color: forestgreen;
  font-weight: bold;
}

.info {
  text-align: center;
  margin: auto;
}

.info-header {
  font-size: 150%;
  max-width: 600px;

}

.header-text {
  margin: auto;
  text-align: center;
  max-width: 500px;
}

.start-buttons {
  font-size: 90%;
  max-width: 500px;
  margin: auto;
  /*display:inline-block;*/

}

.game {
  /*display:inline-block;*/
  padding: 50px;
  max-width: 100%;

}

.read-info-link {
  font-size: 150%;
}

.read-info-link:link, .read-info-link:visited {
  color: forestgreen;
  text-decoration: underline;
  cursor: auto;
}

.read-info-link:link:active, .read-info-link:visited:active {
  color: forestgreen;
  text-decoration: underline;
}






