

/*.details {*/
    /*font-size: 1em;*/
/*}*/

.task-container {
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffff;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
}

.task-container > div {
    background-color: #ffffff;
    width: 200px;
    margin: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    /*align-items: center;*/
}

.bar {
    /*text-align: left;*/
}

.progressBar {
    position: relative;
    height: 20px;
    /*max-width: 300px;*/
    border-radius: 50px;
    /*border: 1px solid #333;*/
    background: lightgrey;
    text-align: left;
    margin-bottom: 10px;
}

.filler {
    background: forestgreen;
    height: 100%;
    border-radius: inherit;
    transition: widt .2s ease-in;
    text-align: center;
}

.cofoot {
    font-size: medium;
    /*text-align: left;*/
    margin: 0;
}

.footcount {
    color: forestgreen;
    font-weight: bold;
    font-size: larger;
}

.fincofoot {
    font-size: small;
}

.coreduce {
    text-align: right;
}


.header-text {
    font-size: medium;
}

.count {
    color: forestgreen;
    font-weight: bold;

}

.change-button {
    background-color: white;
    color: forestgreen;
    border: 1px solid forestgreen;
    border-radius: 30px;
    padding: 10px;
    margin-right: 10px;
}

.list-items {
    position: initial;
    margin: auto;
    margin-top: 40px;
    text-align: left;
    max-width: 600px;
    height: 300px;
    /*margin-bottom: 500px;*/

}

.button {
    text-align: center;
}


.choiceContentHeader2 {
    font-family: Amiko;
    color: forestgreen;
    font-size: 180%;
    /*text-decoration: underline;*/
}

.choicecomponent {
    font-family: Amiko;
    color: forestgreen;

}