.bar {
    /*text-align: left;*/
}

.progressBar {
    position: relative;
    height: 20px;
    /*max-width: 300px;*/
    border-radius: 50px;
    /*border: 1px solid #333;*/
    background: lightgrey;
    text-align: left;
    margin-bottom: 10px;
}

.filler {
    background: forestgreen;
    height: 100%;
    border-radius: inherit;
    transition: widt .2s ease-in;
    text-align: center;
}

.cofoot {
    font-size: medium;
    /*text-align: left;*/
    margin: 0;
}

.footcount {
    color: forestgreen;
    font-weight: bold;
    font-size: larger;
}

.fincofoot {
    font-size: small;
}

.coreduce {
    text-align: right;
}


.header-text {
    font-size: medium;
}

.count {
    color: forestgreen;
    font-weight: bold;

}

.change-button {
    background-color: white;
    color: forestgreen;
    border: 1px solid forestgreen;
    border-radius: 30px;
    padding: 10px;
}

.list-items {
    position: initial;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    max-width: 600px;
    height: 300px;
    /*margin-bottom: 500px;*/

}

