.stack-container {
    position: initial;
    margin: auto;
    margin-top: 40px;
    text-align:center;
    width: 400px;
    height: 300px;
}

.card-top {
    position: absolute;
    top:0px;
    left:0;
    right:0;
    z-index:3;
    border-style: solid;
    border-width: 1px;
    border-color: #E6E6E6;
    margin: auto;
    text-align:center;
    width: 90%;
    height: 550px;
    background: rgba(204, 210, 198, 0.6);
}

.card-button {
    position: center;
    margin-top: 120px;
    bottom: 20px;
    cursor: pointer;
    z-index: 50;
    border-style: solid;
    border-width: 5px;
    border-color: #E6E6E6;
    color: white;
    outline:none;
    font-family: 'Calibri';
    font-weight: 700;
    font-size: 15px;
    border-radius: 50px;
    margin: auto;
    text-align:center;
    width: 95px;
    height: 95px;

}

.swipeDiv{
  width: 350px;
  z-index: 5;
  position: fixed;
  top: 650px;
  text-align: center;

}
.buttons {
    text-align: center;
    bottom: 50px;
    cursor: pointer;
    border-color: #E6E6E6;
    color: white;
    outline:none;
    font-family: 'Calibri';
    font-weight: 700;
    font-size: 15px;
    margin: auto;
}

.left {
    text-align: center;
}
.pass {
    /*position: center;*/
    background: #CC0005;
    /*left: 1000px;*/
    /*display: inline-block;*/
}

.like {
    background: #0ACF00;
    /*right: 50px;*/
    /*display: inline-block;*/
}

.name-header-card {
    font-family: 'Proxima Nova';
    font-size: 100px;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
}

.text-card-this {
    font-family: 'Proxima Nova';
    font-color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    margin: 50px;

}

.img  {
    width:350px;
    height: 350px;
}

.nothing-left {
    margin:auto;
    text-align: center;
    left: 0;
    right: 0;
    font-family: 'Proxima Nova';
    font-size: 30px;
    font-weight: 600;
}
