.stack-container {
    position: initial;
    margin: auto;
    margin-top: 40px;
    text-align:center;
    max-width: 400px;
    height: 300px;
    margin-bottom: 500px;

}

.card-top {
    border-style: solid;
    border-width: 1px;
    border-color: forestgreen;

}

/*.card-top {*/
    /*top:0px;*/
    /*left:0;*/
    /*right:0;*/
    /*z-index:3;*/
    /*border-style: solid;*/
    /*border-width: 2px;*/
    /*border-color: forestgreen;*/
    /*margin: auto;*/
    /*text-align:center;*/
    /*width: 100%;*/
    /*height: 550px;*/
    /*background: rgba(204, 210, 198, 0.6);*/
/*}*/

.card-button {
    position: center;
    margin-top: 120px;
    bottom: 20px;
    cursor: pointer;
    z-index: 50;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    color: white;
    outline:none;
    font-weight: 700;
    font-size: 15px;
    border-radius: 50px;
    margin: auto;
    text-align:center;
    width: 95px;
    height: 95px;

}

/*.swipeDiv{*/
  /*width: 350px;*/
  /*z-index: 5;*/
  /*position: fixed;*/
  /*top: 650px;*/
  /*text-align: center;*/

/*}*/

/*.buttons {*/
    /*!*text-align: center;*!*/
    /*!*bottom: 50px;*!*/
    /*!*cursor: pointer;*!*/
    /*!*border-color: #E6E6E6;*!*/
    /*color: white;*/
    /*!*outline:none;*!*/
    /*!*font-weight: 700;*!*/
    /*!*font-size: 300%;*!*/
    /*!*margin: auto;*!*/
/*}*/

.pass {
    /*position: center;*/
    background: red;
    font-size: 120%;
    /*left: 1000px;*/
    /*display: inline-block;*/
}

.like {
    background: yellowgreen;
    font-size: 120%;
    /*right: 50px;*/
    /*display: inline-block;*/
}

/*.name-header-card {*/
    /*font-family: 'Proxima Nova';*/
    /*font-size: 100px;*/
    /*text-align: left;*/
    /*margin-top: 10px;*/
    /*margin-left: 20px;*/
/*}*/

/*.text-card-this {*/
    /*font-family: 'Proxima Nova';*/
    /*font-color: #ffffff;*/
    /*font-weight: 600;*/
    /*font-size: 20px;*/
    /*text-align: left;*/
    /*margin: 50px;*/

/*}*/

/*.img  {*/
    /*width:350px;*/
    /*height: 350px;*/
/*}*/

/*.nothing-left {*/
    /*margin:auto;*/
    /*text-align: center;*/
    /*left: 0;*/
    /*right: 0;*/
    /*font-family: 'Proxima Nova';*/
    /*font-size: 30px;*/
    /*font-weight: 600;*/
/*}*/

.cardContentHeader {
    font-weight: bold;
}

.theswipe h1 {
    font-size: 250%;
    font-weight: bold;
}

.theswipe h2 {
    font-size: 200%;
    color: darkgreen;
    font-weight: bold;
}

.cardContentHeader {
    color: darkgreen;
    font-size: 110%;
    /*text-decoration: underline;*/
}