.stack-container {
    position: initial;
    margin: auto;
    margin-top:10px;
    text-align:center;
    max-width: 400px;
    height: 300px;
    margin-bottom: 500px;

}

.card-top {
    border-style: solid;
    border-width: 1px;
    border-color: forestgreen;

}

/*.card-top {*/
    /*top:0px;*/
    /*left:0;*/
    /*right:0;*/
    /*z-index:3;*/
    /*border-style: solid;*/
    /*border-width: 2px;*/
    /*border-color: forestgreen;*/
    /*margin: auto;*/
    /*text-align:center;*/
    /*width: 100%;*/
    /*height: 550px;*/
    /*background: rgba(204, 210, 198, 0.6);*/
/*}*/

.card-button {
    position: center;
    /*margin-top: 120px;*/
    bottom: 20px;
    cursor: pointer;
    z-index: 40;
    /*border-style: solid;*/
    border-width: 0px;
    border-color: white;
    color: white;
    outline:none;
    font-weight: 700;
    font-size: 30px;
    border-radius: 50px;
    margin: auto;
    text-align:center;
    width: 70px;
    height: 70px;
    background-color: white;
    margin-right: 5px;
    margin-left: 5px;
}

/*.swipeDiv{*/
  /*width: 350px;*/
  /*z-index: 5;*/
  /*position: fixed;*/
  /*top: 650px;*/
  /*text-align: center;*/

/*}*/

/*.buttons {*/
    /*!*text-align: center;*!*/
    /*!*bottom: 50px;*!*/
    /*!*cursor: pointer;*!*/
    /*!*border-color: #E6E6E6;*!*/
    /*color: white;*/
    /*!*outline:none;*!*/
    /*!*font-weight: 700;*!*/
    /*!*font-size: 300%;*!*/
    /*!*margin: auto;*!*/
/*}*/

.buttons {
    margin-left: 20%;
    margin-bottom: 20px;
}

.MuiCardActions-root-33 {
    float: right;
}

.pass {
    /*color: red;*/
    /*border-color: red;*/

    background: red;
    font-size: 120%;
}

.like {
    /*color: forestgreen;*/
    /*border-color: forestgreen;*/
    background: forestgreen;
    font-size: 120%;

}

/*.name-header-card {*/
    /*font-family: 'Proxima Nova';*/
    /*font-size: 100px;*/
    /*text-align: left;*/
    /*margin-top: 10px;*/
    /*margin-left: 20px;*/
/*}*/

/*.text-card-this {*/
    /*font-family: 'Proxima Nova';*/
    /*font-color: #ffffff;*/
    /*font-weight: 600;*/
    /*font-size: 20px;*/
    /*text-align: left;*/
    /*margin: 50px;*/

/*}*/

/*.img  {*/
    /*width:350px;*/
    /*height: 350px;*/
/*}*/

/*.nothing-left {*/
    /*margin:auto;*/
    /*text-align: center;*/
    /*left: 0;*/
    /*right: 0;*/
    /*font-family: 'Proxima Nova';*/
    /*font-size: 30px;*/
    /*font-weight: 600;*/
/*}*/

.cardContentHeader {
    font-weight: bold;
}

.theswipe h1 {
    font-size: 250%;
    font-weight: bold;
}

.theswipe h2 {
    font-size: 200%;
    color: darkgreen;
    font-weight: bold;
}

.cardContentHeader {
    color: darkgreen;
    font-size: 110%;
    /*text-decoration: underline;*/
}

.gameProgress{
    font-size: 100%;
    max-width: 400px;
    margin: auto
}

.gameProgress > .bar > .progressBar > .filler {
    background-color: forestgreen;
    height: 100%;
    border-radius: inherit;
    transition: widt .2s ease-in;
    text-align: center;

}

.gameProgress > .bar > .progressBar {
    background-color: lightgrey;
    margin-top: 20px;
    position: relative;
    height: 10px;
    /*max-width: 300px;*/
    border-radius: 50px;
    /*border: 1px solid #333;*/
    text-align: left;
    /*margin-bottom: 10px;*/

}

.gameProgress > .bar  > p {
    color: darkgray;
    font-size: 100%;
    display: inline-block;
}

.gameProgress > .bar  > .fincofoot {
    display: none;
}
