.navigation {
    font-family: 'Delius Unicase', cursive;
    color: red;
    font-size: 1em;
    text-align: center;
    margin: auto;
    width: 100%;
}

/*div.navbar-collapse.collapse {*/
    /*text-align: center;*/
/*}*/
/*ul {*/
    /*margin:;*/
    /*text-align:center;*/
/*}*/



