.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.loader {
  position: fixed;
  left: 50%;
  top: 50%;
}

.component {
  text-align: center;
}

img {
  height: 100px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  height: 150px;
  width: 150px;
  padding: 14px 14px;
  /*margin-top: 20px;*/
}

.top {
  padding: 20px;
}

