.App {
  text-align: center;
  font-family: Amiko;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
}

.component {
  text-align: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  /*cursor: pointer;*/
}
.navbar-brand>img {
  height: 150px;
  width: 150px;
  /*padding: 0px 5px;*/
  /*margin-top: 20px;*/
}

.top {
  padding: 20px;
}

.fonts {
  font-family: Amiko;
  color: forestgreen;
}


