
.containerLogIn {
    font-family: Amiko;
    color: forestgreen;
}

.gotosignup {
    padding-top: 35px;
    font-family: Amiko;
    color: black;
    /*padding-bottom: 8px;*/
}


.signuplink {
    color: forestgreen;

}
