/*.list-items {*/
    /*position: initial;*/
    /*margin: auto;*/
    /*margin-top: 40px;*/
    /*text-align: center;*/
    /*max-width: 800px;*/
    /*height: 300px;*/
    /*!*margin-bottom: 500px;*!*/

/*}*/
/*.title {*/
    /*font-size: 2em;*/
/*}*/

/*.details {*/
    /*font-size: 1em;*/
/*}*/