

.task-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffff;
    align-items: flex-start;
    justify-content: center;
}

.task-container > div {
    background-color: #ffffff;
    width: 175px;
    margin: 10px;
    /*text-align: center;*/
    line-height: 100px;
    font-size: 20px;
    justify-content: flex-start;
    /*align-items: center;*/
}

.title {
    font-size: small;
}